.header{
    padding-top: 3.5rem;
    margin-bottom: 6rem;
    padding-bottom: 6rem;
    background-color: $header-bg-color;
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    /**************************/
    /* BELOW 480px (Mobile) */
    /**************************/

    @include respond-to(xs){
        padding-top: 1.5rem;
    }
    
}


.hero{
    @include flex-center-vert;

    &__img-box{
        width: 140%;
    }

    &__heading{
        margin-bottom: 2rem;
    }

    &__para{
        margin-bottom: 2rem;
    }

    &__txt-box{
        margin-right: 3.5rem;

    }

    /**************************/
    /* BELOW 768px (Tablet) */
    /**************************/
    @include respond-to (sm){
        @include flex-center-column;
        text-align: center;
        margin-right: 0rem;
    }

    &__img-box{
        @include respond-to (sm){
             width: 100%;
            margin-top: 3rem;
        }
    }

    &__txt-box{
        @include respond-to (sm){
            margin-right: 0rem;
        }
    }

    /**************************/
    /* BELOW 480px (Mobile) */
    /**************************/
    &__heading{
        @include respond-to(xs){
            margin-bottom: 1.5rem;
        }
    }

    &__para{
        @include respond-to(xs){
            margin-bottom: 1.5rem;
        }
    }


}