.nav{
    @include flex-center-vert;
    justify-content: space-between;
    padding-bottom: 3.5rem;


    /**************************/
    /* BELOW 480px (Mobile) */
    /**************************/
    &__logo-img{
        @include respond-to(xs){
            width: 75%;
        }
    }


}