.card{
    padding: 3rem;
    margin-bottom: 3.5rem;
    box-shadow: 0 .2rem 1rem rgb(0 0 0 / 15%);
    border-radius: 1em;
    @include flex-center-vert;

    &--last{
        margin-bottom: 0rem;
    }

    &--switch{
        @include flex-center-vert;
        flex-direction: row-reverse;
    }

    &__heading{
        margin-bottom: 1rem;
    }

    &__txt-box{
        padding: 4rem;
    }

    &__img-box, 
    &__img-box--switch
    {
        width: 90%;
    }

    &__img-box{
        margin-left: 6rem;
    }

    &__img-box--switch{
        margin-right: 6rem;
    }

    /**************************/
    /* BELOW 992px (Small Laptop) */
    /**************************/

    @include respond-to(md){
        @include flex-column;
        padding: 2rem;
    }

    &--switch{
        @include respond-to(md){
            @include flex-column;

        }
    }

    &__heading{
        @include respond-to(md){
            text-align: center;
        }
    }

    &__txt-box{
        @include respond-to(md){
            padding: 2.5rem;
            text-align: center;
        }
    }

    &__img-box{
        @include respond-to(md){
            margin-right: 0rem;
            margin: 0 auto;
        }
    }

    &__img-box--switch{
        @include respond-to(md){
            margin-right: 0rem;
            margin: 0 auto;
        }
 
    }

    /**************************/
    /* BELOW 480px (Mobile) */
    /**************************/
    @include respond-to(xs){
        padding: 1.5rem;
    }

    &__txt-box{
        @include respond-to(xs){
            padding: 1rem;
        }
    }






    
}