.card{
    padding: 3rem;
    margin-bottom: 3.5rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    border-radius: 1em;
    @include flex-center-vert;

    @include respond-to(md){
        @include flex-column;
        padding: 2rem;
    }

    @include respond-to(xs){
        padding: 1.5rem;
    }

    &--last{
        margin-bottom: 0rem;
    }

    &--switch{
        @include flex-center-vert;
        flex-direction: row-reverse;

        @include respond-to(md){
            @include flex-column;

        }
    }

    &__heading{
        margin-bottom: 1rem;

        @include respond-to(md){
            text-align: center;
        }
    }

    &__txt-box{
        padding: 4rem;

        @include respond-to(md){
            padding: 2.5rem;
            text-align: center;
        }

        @include respond-to(xs){
            padding: 1rem;
        }
    }

    &__img-box, 
    &__img-box--switch
    {
        width: 90%;
    }

    &__img-box{
        margin-left: 6rem;

        @include respond-to(md){
            margin-right: 0rem;
            margin: 0 auto;
        }
    }

    &__img-box--switch{
        margin-right: 6rem;

        @include respond-to(md){
            margin-right: 0rem;
            margin: 0 auto;
        }
 
    }
    
}